#tete img{
    width: 120px;
    border-radius: 50%;
    border: solid 6px #34ADD1;
}

#tete{
    margin-top: 80px;
    width: 90%;
    margin-left: 5%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px gray;
}

.t1 h2{
    font-size: 70px;
}
.t1 h3{
    font-size: 40px;
}
.t1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;
}
.t3{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    height: auto;
    width: 380px;
}

.t3 p, h3{
    margin: 0;
}
.t3 p{
    font-style: italic;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.637);
    font-size: 20px;
}

.t2{
    display: flex;
    align-items: center;
    width: 500px;
    justify-content: space-between;
    font-size: 30px;
}

#main{
    display: flex;
    width: 90%;
    margin-left: 5%;
    justify-content: space-between;
}

#navv{
    border-right: solid 2px gray;
    padding-right: 5%;
    padding-left: 5%;
    margin-bottom: 5%;
}

#navv p{
    margin-bottom: 2rem;
}

#navv p:hover{
    cursor: pointer;
}

#nav_btn{
    color: white;
    background-color: #34ADD1;
    border: black .3rem  solid;
    position: fixed;
    width: 4.2rem;
    height: 4.2rem;
    top : 10%;
    left: 1.5%;
    z-index: 10;
    justify-content: center;
    align-content: center;
    display: none;
}

#nav_btn:hover{
    cursor: pointer;
    color: black;
    background-color: white;
    border-color: #34ADD1;
}

#nav_btn i{
    align-self: center;
    font-size: 3.3rem;
}



#page{
    width: 80%;
}

#page h2{
    font-size: 1.9rem;
    margin-left: 2%;
}

#page p{
    padding-left: 17.5%;
    width: 65%;
    color: rgba(0, 0, 0, 0.637);
}

section div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-left: 0;
}

section>p{
    color: black;
    margin-bottom: 100px;
}

#page img{
    width: 100%;
}

.btn{
    width: 16rem;
    height: 3.5rem;
    border-radius: 40px;
    background-color: #34ADD1;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
}

#in_btn{
    display: flex;
    width: 100%;
    justify-content: center;
}

.btn a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}


@media (max-width: 1000px){
    #navv{
        display: none;
        border: none;
        padding: 0;
        margin: 0;
        background-color: #34ADD1
    }

    #navv p{
        color: white;
    }

    #nav_btn{
        display: flex;
    }

    #tete{
        flex-direction: column;
        align-items: center;
        padding-bottom: 1.5rem;
    }

    #page p{
        width: 80%;
        padding-left: 25%;
    }

    #section div{
        width: 95%;
    }
}